{% load static %}

{% include 'inc/head.inc.html' %}

<body>

  



  {% include 'inc/header.inc.html' %}

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="" style="box-shadow:5px 5px 10px #eeeeee;">
      <div class="container">
        <br>
        <div class="row">
            <div class="col-4">
                <a href="documents?section=privacy_policy">
                  <button type="button" class="btn btn-{% ifnotequal request.GET.section 'privacy_policy' %}outline-{% endifnotequal %}orange btn-block" style="margin: auto;">Privacy policy</button>
                </a>

            </div>

            <div class="col-4">
                <a href="documents?section=terms_and_conditions">
                  <button type="button" class="btn btn-{% ifnotequal request.GET.section 'terms_and_conditions' %}outline-{% endifnotequal %}orange btn-block" style="margin: auto;">Terms and Conditions</button>
                </a>
            </div>

            <div class="col-4">
                <a href="documents?section=terms_of_use">
                  <button type="button" class="btn btn-{% ifnotequal request.GET.section 'terms_of_use' %}outline-{% endifnotequal %}orange btn-block" style="margin: auto;">Terms of Use</button>
                </a>
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-12">
                {% ifequal request.GET.section 'privacy_policy' %}
                <div id="pp">
                  <h2 class="my-4"><b>Privacy Policy:</b></h2>
                    
                    <p class="just">
                    Last updated: September 17, 2020
                    Langvarsity (EN) / 览思 (Chinese) ("us", "we", or "our") operates the http://langvarsity.000webhostapp.com/  website (the "Service").
                    This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.
                    We will not use or share your information with anyone except as described in this Privacy Policy.
                    We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at http://langvarsity.000webhostapp.com
                    </p>
                    
                    <h4 class="my-4">Information Collection And Use:</h4>
                    
                    <p class="just">
                    While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name ("Personal Information").
                    </p>
                    
                    <h4 class="my-4">Log Data:</h4>

                    <p class="just">
                    We collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.
                    </p>

                    <h4 class="my-4">Cookies:</h4>

                    <p class="just">
                    Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.
                    We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.
                    </p>
                        
                    <h4 class="my-4">Service Providers:</h4>

                    <p class="just">
                    We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.
                    These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
                    </p>
                    
                    <h4 class="my-4">Security:</h4>

                    <p class="just">
                    The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
                    </p>
                    
                    <h4 class="my-4">Links To Other Sites:</h4>

                    <p class="just">
                    Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
                    We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.
                    </p>
                    
                    <h4 class="my-4">Children's Privacy:</h4>

                    <p class="just">
                    Our Service does not address anyone under the age of 13 ("Children").
                    We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Information, please contact us. If we discover that a Children under 13 has provided us with Personal Information, we will delete such information from our servers immediately.
                    </p>
                    
                    <h4 class="my-4">Changes To This Privacy Policy:</h4>
                    
                    <p class="just">
                    We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
                    You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
                    </p>
                    
                    <h4 class="my-4">Contact Us:</h4>

                    <p class="just">
                    If you have any questions about this Privacy Policy, please <a href="#contact">contact us</a>.
                    </p>


                </div>
                {% endifequal %}

                {% ifequal request.GET.section 'terms_and_conditions' %}
                <div id="tnc">
                  <h2 class="my-4"><b>Terms and Conditions ("Terms"):</b></h2>


                  <p class="just">
                  Last updated: September 17, 2020
                  Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://langvarsity.000webhostapp.com/ website (the "Service") operated by  Langvarsity  ("us", "we", or "our").
                  Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. 
                  By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
                  </p>

                  <h4 class="my-4">Links To Other Web Sites:</h4>

                  <p class="just">
                  Our Service may contain links to third-party web sites or services that are not owned or controlled by Langvarsity.  
                  Langvarsity has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party web sites or services. You further acknowledge and agree that Langvarsity  shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
                  We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
                  </p>

                  <h4 class="my-4">Termination:</h4>
                  
                  <p class="just">
                  We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
                  All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
                  </p>

                  <h4 class="my-4">Governing Law</h4>
                  
                  <p class="just">
                  These Terms shall be governed and construed in accordance with the laws of Ukraine, without regard to its conflict of law provisions.
                  Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
                  </p>

                  <h4 class="my-4">Changes:</h4>

                  <p class="just">
                  We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                  By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
                  </p>

                  <h4 class="my-4">Contact Us:</h4>
                  
                  <p class="just">
                   If you have any questions about these Terms, please <a href="#contact">contact us</a>.

                  </p>




                  





                </div>
                {% endifequal %}

                {% ifequal request.GET.section 'terms_of_use' %}  
                <div id=tou>

                  <h2 class="my-4"><b>Terms of Use ("Terms"):</b></h2>

                  Last updated: September 17, 2020
                  <br>

                  <p class="just">
                  Please read these Terms of Use ("Terms", "Terms of Use") carefully before using the http://langvarsity.000webhostapp.com/ website (the "Service") operated by Langvarsity ("us", "we", or "our").
                  Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
                  By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service..
                  </p>

                  <h4 class="my-4">Accounts:</h4>

                  <p class="just">
                  When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
                  You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service. 
                  Revised texts are intellectual property of users and nobody will use them.
                  You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.
                  </p>

                  <h4 class="my-4">Security:</h4>

                  <p class="just">
                  Online payment security can be considered as providing rules, regulations and security measures to protect customers’ privacy, data and the money involved.
                  In this digital era, every we look out for every hazard, every problem that can be faced through cyber-attacks, as it can occur as quickly as clicking on an email link.
                  So, what are the security protocols and processes you should look for, every time you transact online? How to defend against online breaches in online payment security? Are there any best ways to improve online security?
                  Editor accounts registration is subject of additional verification to confirms persons eligibility. HTTPS protocol for encryption and transmission of a date is applied
                  SSL protocol is the best way of ensuring that the payments made on our website are secure. SSL certificate implies that all customer information is encrypted and reduces the risk of exposure by cyberattacks. We comply with Payment Card Industry Data Security Standards (PCI DSS) to ensure an additional layer of security and thus establishing trust.
                  SSL or Secure Socket Layer is the most widely deployed and used security measure that provides security over internet communications.SSL provides a secure communication layer between machines operating online. SSL supports security protocols like Encryption, Authentication and it makes sure that requested and submitted data actually gets delivered.
                  SSL certification can be used to secure all types of online transactions (credit, debit card, online banking, etc.). SSL protocol is developed to prevent online security breaches while transmitting data online.
                  </p>

                  <h4 class="my-4">Links To Other Web Sites:</h4>

                  <p class="just">
                  Our Service may contain links to third-party web sites or services that are not owned or controlled by Langvarsity .
                  Langvarsity has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Langvarsity shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
                  We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
                  </p>

                  <h4 class="my-4">Termination:</h4>

                  <p class="just">
                  We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
                  All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
                  We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
                  Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.
                  All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
                  </p>
                  
                  <h4 class="my-4">Governing Law:</h4>
                  
                  <p class="just">
                  These Terms shall be governed and construed in accordance with the laws of Ukraine, without regard to its conflict of law provisions.
                  Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
                  </p>
                  
                  <h4 class="my-4">Changes:</h4>

                  <p class="just">
                  We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                  By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
                  </p>
                  
                  <h4 class="my-4">Contact Us:</h4>

                  <p class="just">
                  If you have any questions about these Terms, please <a href="#contact">contact us</a>.
                  </p>
                
                </div>
                {% endifequal %}
                    
            </div>
        </div>



      </div>
    </section>
    <!-- End About Section -->

  </main>
  <!-- End #main -->


  {% include 'inc/footer.inc.html' %}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  {% include 'inc/bottom.inc.html' %}


</body>

<script>
  var current_status = 1;
  function show_next_line() {

      if (current_status < 4) {
          $("#error_msg").text("");

          var current_org = $(`#org_${current_status}`).val();
          var current_year = $(`#year_${current_status}`).val();
          var current_type = $(`#type_${current_status}`).val();

          if (current_org == "" || current_year == "" || current_type == "" ) {
              $("#error_msg").text("Kindly fill the given fields to add new one!");
          }else{
              $("#error_msg").text("");

              console.log(current_org);
              console.log(current_year);
              console.log(current_type);

              // expand new line
              current_status += 1;

              $(`#line_${current_status}`).css('display', '')

          }

          
      }else{

        $("#error_msg").text("You can add maximum 4 experiences right now!");


      }

  }
</script>




</html>