{% load static %}

{% include 'inc/head.inc.html' %}

<body>

  



  {% include 'inc/header.inc.html' %}
  <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="show_delivery_modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delivered text</h5>
            <button type="button" class="close" onclick="close_delivery_modal()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

          {% if AS == "USER" %}

          <div class="row px-3" id="holder-options">
            <div class="col-sm-6 px-1">

              <button type="button" class="btn btn-outline-orange btn-block" onclick="make_it('1')">Accept work</button>
            </div>
            <div class="col-sm-6 px-1">
              <button type="button" class="btn btn-outline-orange btn-block" onclick="make_it('-1')">Ask for revision</button>
            </div>
          </div>

          {% endif %}

          <br>

          <input type="hidden" id="orderID_DeliveryModal">

          <div class="card mb-3" id="delivery-body">
        
            
          </div>

        </div>
        <div class="modal-footer px-2">
          <button type="button" class="btn btn-secondary" onclick="close_delivery_modal()">Close</button>
        </div>
      </div>
    </div>
  </div>
 
  
  <!-- Modal -->
  <div class="modal fade" id="delivery_modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add file of revised text</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

          <form action="deliverNow" method="post" id="deliver-form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="orderID" id="order_id" required>

            <!-- drag drop container -->

            <div class="my-0">
                <div class="my-1 p-5 text-center d-flex align-items-center justify-content-center dropzone" ondrop="now_drop(event)" id="dropzone" ondragover="allowdrop(event)" ondragleave="previous_state(event)" >
                Drag your file here or &nbsp;&nbsp; 
                <button type="button" class="btn btn-secondary" onclick="upload_file('target_file')">Upload file</button> 
                <br>
                <input type="file" id="target_file" name="targetfile" onchange="readURL(this, 'showing_div')" style="height: 0px; overflow:hidden; width: 0px;">

                <iframe src="" id="showing_div" class="decrease-s-width" frameborder="0" style="border: solid 2px #eb5d1e; padding:10px; border-radius: 10px; width: 100%; height:100%; display: none;"></iframe>


              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-success" id="success-msg"></p>

                </div>

                
              </div>

              <p class="text-danger mt-4" id="file-error-msg"></p>

            </div>

            <!-- height: 0px; overflow:hidden; width: 0px; -->

          </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-orange p-2" onclick="deliver_now()">Deliver now</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Your attached text</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div id="container" style="max-height: 550px; overflow-y: auto;">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="" style="box-shadow:5px 5px 10px #eeeeee;">
      <div class="container">
          
        <!-- Modal -->
          <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Become native speaker now</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'becomenative' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="modal-body">
                      <div>
                        <div class="p-2">
                          <h6 class="mb-4"><b>Attach your G-passport</b></h6>

                          <div class="my-1" style="border: solid 1px grey; padding:10px; border-radius: 5px;">
                            <input  type="file" name="doc" id="doc" required>
                          </div>

                        </div>
                
                        
                        <table class="table p-0 table-borderless">
                          <thead>
                            <tr>
                              <th style="width: 50%;">Organization</th>
                              <th style="width: 20%;">Years</th>
                              <th style="width: 30%;">Type</th>
                            </tr>
                          </thead>
                          <tbody>
                            

                            <tr class="my-0" id="line_1">
                              <td>
                                <input class="form-control" type="text" name="org_1" placeholder="Organization 1" id="org_1" required>
                              </td>
                              <td>
                                <input class="form-control" type="number" min="1" max="20" value="1" name="year_1" id="year_1" required>
                              </td>
                              <td>
                                <div class="form-group">
                                  <select class="form-control" name="type_1" id="type_1" required>
                                    <option value="">Select</option>
                                    <option value="Full time">Full time</option>
                                    <option value="Part time">Part time</option>
                                    <option value="Freelancing">Freelancing</option>
                                  </select>
                                </div>
                              </td>
                            </tr>

                            <tr class="my-0" id="line_2" style="display: none;">
                              <td>
                                <input class="form-control" type="text" name="org_2" placeholder="Organization 2" id="org_2">
                              </td>
                              <td>
                                <input class="form-control" type="number" min="1" max="20" value="1" name="year_2" id="year_2">
                              </td>
                              <td>
                                <div class="form-group">
                                  <select class="form-control" name="type_2" id="type_2">
                                    <option value="">Select</option>
                                    <option value="Full time">Full time</option>
                                    <option value="Part time">Part time</option>
                                    <option value="Freelancing">Freelancing</option>
                                  </select>
                                </div>
                              </td>
                            </tr>

                            <tr class="my-0" id="line_3" style="display: none;">
                              <td>
                                <input class="form-control" type="text" name="org_3" placeholder="Organization 3" id="org_3">
                              </td>
                              <td>
                                <input class="form-control" type="number" min="1" max="20" value="1" name="year_3" id="year_3">
                              </td>
                              <td>
                                <div class="form-group">
                                  <select class="form-control" name="type_3" id="type_3">
                                    <option value="">Select</option>
                                    <option value="Full time">Full time</option>
                                    <option value="Part time">Part time</option>
                                    <option value="Freelancing">Freelancing</option>
                                  </select>
                                </div>
                              </td>
                            </tr>

                            <tr class="my-0" id="line_4" style="display: none;">
                              <td>
                                <input class="form-control" type="text" name="org_4" placeholder="Organization 4" id="org_4">
                              </td>
                              <td>
                                <input class="form-control" type="number" min="1" max="20" value="1" name="year_4" id="year_4">
                              </td>
                              <td>
                                <div class="form-group">
                                  <select class="form-control" name="type_4" id="type_4">
                                    <option value="">Select</option>
                                    <option value="Full time">Full time</option>
                                    <option value="Part time">Part time</option>
                                    <option value="Freelancing">Freelancing</option>
                                  </select>
                                </div>
                              </td>
                            </tr>



                          

                            <tr>
                              <td colspan="3" class="text-center">
                                <button type="button" class="btn btn-orange p-0" onclick="show_next_line()" title="Add new experience">
                                  <i class="material-icons p-0 pt-1 px-1">keyboard_arrow_down</i>

                                </button>
                              </td>
                            </tr>
                            
                          </tbody>
                        </table>

                        <p class="m-0 px-2 text-danger" id="error_msg"></p>


                      </div>
                
                  </div>

                  <div class="modal-footer px-4">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-orange" style="padding:6px 10px">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        <div class="row my-5">
          <div class="col-lg-4 d-flex justify-content-center about-img">
            <div class="border-do text-center mt-2" style="height: fit-content;">
                <img src="{% static 'assets/img/profile.png' %}" class="my-2" style="width: 80px; height: 80px; opacity: 0.5;" alt="">
                <div class="mt-4">
                    <div class="row my-2">
                        <div class="col-4 text-left justify-content-left">
                            <p class="text-dark"><b>Name</b></p>
                        </div>

                        <div class="col-8 d-flex justify-content-left align-items-center px-0">
                            <p>{{user.first_name}} {{user.last_name}}</p>
                        </div>
                    </div>


                    <div class="row my-2">
                        <div class="col-4 text-left justify-content-left">
                            <p class="text-dark"><b>Email</b></p>
                        </div>

                        <div class="col-8 d-flex justify-content-left align-items-center px-0">
                            <p>{{user.username}}</p>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-4 text-left justify-content-left">
                            <p class="text-dark"><b>Join date</b></p>
                        </div>

                        <div class="col-8 d-flex justify-content-left align-items-center px-0">
                            <p>{{date_joined}}</p>
                        </div>
                    </div>

                    <div class="row my-2">
                      <div class="col-4 text-left justify-content-left">
                          <p class="text-dark"><b>Last order</b></p>
                      </div>

                      <div class="col-8 d-flex justify-content-left align-items-center px-0">
                          <p>None</p>
                      </div>
                    </div>

                   
                    {% if AS == "USER" %}

                    <a href="upload-work">
                      <button type="button" name="" id="" class="btn btn-orange btn-block">Upload new work</button>
                    </a>
                    
                    {% endif %}
                   
                    

                    {% if status %}
                    <div class="alert alert-success" role="alert">
                      {{status}}
                    </div>
                    <!-- <button type="button" name="" id="" class="btn btn-secondary btn-block" style="padding: 10px 10px; margin-top: 15px;" disabled>{{status}}</button> -->

                    {% else %}
                    <p class="my-3">OR</p>
                    <button type="button" name="" id="" data-toggle="modal" data-target="#modelId" class="btn btn-secondary btn-block" style="padding: 10px 15px;">Become native speaker</button>
                    {% endif %}
                  
                  </div>
            </div>
            
          </div>

          <div class="col-lg-8 pt-5 pt-lg-0">
            
              <!-- Button trigger modal -->
              <div class="row my-0">
                <div class="col-sm-5">
                  <h2>Your past orders</h2>

                </div>

                <div class="col-sm-7">
                  {% for message in messages %}
                  <div class="alert alert-success" role="alert">
                      {{message}}
                  </div>
                  {% endfor %}
                </div>
              </div>


              {% if AS == 'USER' %}

              <!-- normal user view start -->

                  {% if not orders %}
                  <h5 class="my-4">No past work to show yet!</h5>
                  {% endif %}

                  <br>

                  {% for order in orders %}

                  <div class="card card-shade mb-4">
                    <div class="card-body">
                      <h4 class="card-title">
                        <div class="row">
                          <div class="col-sm-6 d-flex align-items-center">
                            <b>{{order.order_date_time}}</b>

                            {% if order.is_confirmed %}
                            &nbsp; <i class="material-icons text-primary" style="cursor: pointer;" title="Order confirmed">verified</i>
                            {% endif %}

                          </div>

                          <div class="col-sm-6 text-right">
                            Total words: {{order.total_words}}
                          </div>
                        </div>

                      </h4>

                      <div class="row mt-4">
                        <div class="col-sm-6">
                          <div class="card native-profile" style="cursor: pointer;" title="Your native speaker for this order">
                            <div class="card-body d-flex p-3 align-items-center">

                              <i class="material-icons" style="font-size: 60px; color: #fd8855;">person</i>
                              <!-- <img src="/static/assets/img/profile.png" class="my-2" style="width: 70px; height: 70px; opacity: 0.5;" alt=""> -->
                              
                              <div class="mx-3 my-2" style="width: 100%;">
                                <h5 class="card-title">{{order.alloted_to.which_user.first_name}} {{order.alloted_to.which_user.last_name}}</h5>
                                <p class="py-0 card-d px-2" style="background-color: #ff008a; width: fit-content;"><b>NATIVE  SPEAKER</b></p>
                                <div class="my-3 starBar" id="" style="border: none;">
                                  <i class="material-icons star elements checked">star</i>
                                  <i class="material-icons star elements checked">star</i>
                                  <i class="material-icons star elements checked">star</i>
                                  <i class="material-icons star elements checked">star</i>
                                  <i class="material-icons star elements">star</i>

                                </div>

                                <a href="inbox/{{order.alloted_to.which_user.id}}">
                                  <i class="material-icons ml-2 bg-orange" title="Send message">message</i>
                                </a>
                              
                              </div>
                              
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <table class="table border">
                            <tbody>
                              <tr>
                                <td style="width: 50%;"><b>Text type</b></td>
                                <td>{{order.file_type}}</td>
                              </tr>
                              <tr>
                                <td><b>Order status</b></td>
                                <td>
                                  
                                  <p class="m-0 px-2 card-d order-status {{order.order_status}}"><b>{{order.order_status}}</b></p>

                                  <!-- <p class="m-0 px-2 card-d" style="padding-bottom:2px; background-color: #00668c; width: fit-content;"><b>IN PROGRESS</b></p> -->

                                </td>
                              </tr>
                            
                            </tbody>
                          </table>

                          <div class="row px-2">
                            <div class="col-sm-6 px-2">
                              {% if order.file_type == "PLAIN TEXT" %}
                                <button type="button" class="btn btn-orange p-0 btn-block px-3" data-toggle="collapse" data-target="#text{{order.id}}" style="height: 40px;">Original text</button>
                            

                              {% elif order.file_type == "TXT" %}

                                <button type="button" onclick="show_modal('{{order.id}}', '{{order.attachment}}')" class="btn btn-orange p-0 btn-block px-3" style="height: 40px;">Original text</button>


                              {% else %}
                                
                                <a href="media/{{order.attachment}}" target="{% if order.file_type == 'pdf' or order.file_type == 'PDF' %}_blank{% endif %}">
                                  <button type="button" class="btn btn-orange p-0 btn-block px-3" style="height: 40px;">Original text</button>

                                </a>


                              {% endif %}
                  
                            </div>

                            <div class="col-sm-6 px-2">
                              {% if order.order_status != 'IN-PROCESS' %}
                              <button type="button" class="btn btn-orange p-0 btn-block px-3" onclick="show_delivery_modal('{{order.id}}')" style="height: 40px;">Revised text</button>
                              {% endif %}
                            </div>
                          </div>


                        </div>
                      </div>

                    
                      <div class="card mt-3 collapse" id="text{{order.id}}">
                        <div class="card-body">
                          {% ifequal order.file_type "PLAIN TEXT" %}
                          <p class="card-text">
                              {{order.plane_text}}
                          </p>

                          {% else %}
                            {% ifnotequal order.file_type "DOCX" %}
                                <iframe src="media/{{order.attachment}}" id="order{{order.id}}" frameborder="0"  class="decrease-s-width" style="border: solid 2px #eb5d1e; padding:10px; border-radius: 10px; width: 100%; height:100%;" >
                                </iframe>
                            {% endifnotequal %}
                          {% endifequal %}



                        </div>
                      </div>
                        
                  

                      <!-- <p class="card-text">Text</p> -->
                    </div>
                  </div>

                  {% endfor %}

              <!-- normal user view end -->


              {% else %}


              <!-- native speaker view start -->


                  {% if not orders %}
                  <h5 class="my-4">No past work to show yet!</h5>
                  {% endif %}

                  <br>

                  {% for order in orders %}

                  <div class="card card-shade mb-4">
                    <div class="card-body">
                      <h4 class="card-title">
                        <div class="row">
                          <div class="col-sm-6 d-flex align-items-center">
                            <b>{{order.order_date_time}}</b>

                            {% if order.is_confirmed %}
                            &nbsp; <i class="material-icons text-primary" style="cursor: pointer;" title="Order confirmed">verified</i>
                            {% endif %}

                          </div>

                          <div class="col-sm-6 text-right">
                            Total words: {{order.total_words}}
                          </div>
                        </div>

                      </h4>

                      <div class="row mt-4">
                        <div class="col-sm-6">
                          <div class="card native-profile" style="cursor: pointer;" title="Your native speaker for this order">
                            <div class="card-body d-flex p-3 align-items-center">

                              <i class="material-icons" style="font-size: 60px; color: #fd8855;">person</i>
                              <!-- <img src="/static/assets/img/profile.png" class="my-2" style="width: 70px; height: 70px; opacity: 0.5;" alt=""> -->
                              
                              <div class="mx-3 my-2" style="width: 100%;">
                                <p class="py-0 card-d px-2" style="background-color: #ff008a; width: fit-content;"><b>ORDER PLACED BY</b></p>
                                <div class="d-flex">
                                  <h5 class="card-title">{{order.placed_by.first_name}} {{order.placed_by.last_name}}</h5>
                                  <a href="inbox/{{order.placed_by.id}}" class="mt-1">
                                    <i class="material-icons ml-2 bg-orange" title="Send message">message</i>
                                  </a>
                                </div>

                                <!-- <button type="button" class="btn btn-primary">Deliver now</button> -->
                                <!-- <div class="my-3 starBar" id="" style="border: none;">
                                  <i class="material-icons star elements checked">star</i>
                                  <i class="material-icons star elements checked">star</i>
                                  <i class="material-icons star elements checked">star</i>
                                  <i class="material-icons star elements checked">star</i>
                                  <i class="material-icons star elements">star</i>

                                </div> -->
                                
                              </div>

                            </div>

                   

                          </div>

                          {% if order.order_status != "IN-PROCESS" %}

                            <p class="my-0 py-0 mt-2 text-orange" style="cursor: pointer;" onclick="show_delivery_modal('{{order.id}}')">See all deliveries</p>

                          {% endif %}

    
      

                        </div>

                        <div class="col-sm-6">
                          <table class="table border">
                            <tbody>
                              <tr>
                                <td style="width: 50%;"><b>Text type</b></td>
                                <td>{{order.file_type}}</td>
                              </tr>
                              <tr>
                                <td><b>Order status</b></td>
                                <td>
                                  <p class="m-0 px-2 card-d order-status {{order.order_status}}"><b>{{order.order_status}}</b></p>

                                </td>
                              </tr>
                            
                            </tbody>
                          </table>

                          <div class="row px-2">
                            <div class="col-sm-6 px-2">
                              {% if order.file_type == "PLAIN TEXT" %}
                                <button type="button" class="btn btn-orange p-0 btn-block px-3" data-toggle="collapse" data-target="#text{{order.id}}" style="height: 40px;">Original text</button>
                            

                              {% elif order.file_type == "TXT" %}

                                <button type="button" onclick="show_modal('{{order.id}}', '{{order.attachment}}')" class="btn btn-orange p-0 btn-block px-3" style="height: 40px;">Original text</button>


                              {% else %}
                                
                                <a href="media/{{order.attachment}}" target="{% if order.file_type == 'pdf' or order.file_type == 'PDF' %}_blank{% endif %}">
                                  <button type="button" class="btn btn-orange p-0 btn-block px-3" style="height: 40px;">Original text</button>

                                </a>


                              {% endif %}
                  
                            </div>

                            <div class="col-sm-6 px-2">

                              {% ifnotequal order.order_status "COMPLETED" %}
                              <button type="button" class="btn btn-outline-orange p-0 btn-block px-3" onclick="open_delivery_modal('{{order.id}}')" data-target="#delivery_modal" data-toggle="modal" style="height: 40px;">Deliver now</button>
                              {% endifnotequal %}


                            </div>
                          </div>


                        </div>
                      </div>

                    
                      <div class="card mt-3 collapse" id="text{{order.id}}">
                        <div class="card-body">
                          {% ifequal order.file_type "PLAIN TEXT" %}
                          <p class="card-text">
                              {{order.plane_text}}
                          </p>

                          {% else %}
                            {% ifnotequal order.file_type "DOCX" %}
                                <iframe src="media/{{order.attachment}}" id="order{{order.id}}" frameborder="0"  class="decrease-s-width" style="border: solid 2px #eb5d1e; padding:10px; border-radius: 10px; width: 100%; height:100%;" >
                                </iframe>
                            {% endifnotequal %}
                          {% endifequal %}



                        </div>
                      </div>
                        
                  

                      <!-- <p class="card-text">Text</p> -->
                    </div>
                  </div>

                  {% endfor %}


              <!-- native speaker end -->

              {% endif %}
             
           
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->

  </main>
  <!-- End #main -->


  {% include 'inc/footer.inc.html' %}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  {% include 'inc/bottom.inc.html' %}


</body>

<script src="{% static 'assets/js/profileOrders.js' %}"></script>


</html>